:root {
    --main-bg: #1f2937;
    --quote-bg: #e5e7eb;
    --accent-blue: #3b82f6;
    --plhd-bg: #6d747d;
    --lc-text: #b3b7be;
    --hc-text: #f9fafb;
    font-size: 10px;
}

body {
    background-color: var(--main-bg);
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: var(--hc-text);
    font-weight: bold;
    font-size: 2.5rem;
}

.pt_tag {
    color: var(--lc-text);
    font-weight: normal;
}

.header__links ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 2rem;
}

.header__links ul a {
    text-decoration: none;
    color: var(--lc-text);
}

.hero {
    height: 60vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroleft {
    width: 40%;
}

.hero__head {
    color: var(--hc-text);
    font-size: 4rem;
}

.hero__subhead {
    color: var(--lc-text);
    font-size: 2rem;
}

.hero__button {
    background-color: var(--accent-blue);
    color: var(--hc-text);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 2rem;
}

.hero__img {
    width: 600px;
    height: 233px;
}

.project-preview {
    height: 60vh;
    background-color: white;
}

.project__head {
    text-align: center;
    font-size: 3rem;
    padding: 50px 0;
    margin: 0;
}

.project__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project__img {
    background-color: var(--plhd-bg);
    border: 5px solid var(--accent-blue);
    border-radius: 10px;
    width: 300px;
    height: 225px;
}

.project__subtext {
    text-align: center;
    font-size: 1.5rem;
}

.quote {
    height: 60vh;
    background-color: var(--quote-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote__text {
    margin: 0;
    width: 60%;
    font-size: 4rem;
    text-align: center;
    font-weight: light;
    font-style: italic;
}

.quote__attribution {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 50%;
}

.cta {
    height: 40vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta__card {
    height: 150px;
    width: 1000px;
    background-color: var(--accent-blue);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cta__text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--lc-text);
    font-size: 1.5rem;
}

.cta__text--main {
    color: var(--hc-text);
    font-size: 2.5rem;
}

.cta__button {
    background-color: var(--accent-blue);
    color: var(--hc-text);
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 2rem;
    height: 40px;
}

.footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__attribution {
    color: var(--lc-text);
    font-size: 1.5rem;
}