:root {
    --main-bg: #1f2937;
    --quote-bg: #e5e7eb;
    --accent-blue: #3b82f6;
    --plhd-bg: #6d747d;
    --lc-text: #b3b7be;
    --hc-text: #f9fafb;
}

body {
    background-color: var(--main-bg);
}

.header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: var(--hc-text);
    font-weight: bold;
}

.header__links ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.header__links ul a {
    text-decoration: none;
    color: var(--lc-text);
}