html {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    background-color: #020133
}

body {
    width: 1200px;
    margin: 20px auto;
    color: aliceblue;
    padding: 0 20px 20px 20px;
    background-color: lightslategray;
}

.note {
    margin: 0 auto;
    padding: 0 10px;
    width: 465px;
    font-size: 16px;
    color: lightgray;
}

.map {
    display: block;
    margin: 0 auto;
}

dd {
    font-size: 20px;
    color: lightgray;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 48px;
    letter-spacing: 3px;
}

img {
    display: block;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
    width: 1200px;
}

hr {
    width: 600px;
}

.location, a {
    color: aliceblue;
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: whitesmoke;
}


/*last item takes precedence. i.e. a:hover must be after a:visited, or the link just stays purple*/

